body{
    background: rgb(36, 0, 28);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9,121, 1) 35%, rgba(0,  212, 255, 1) 100%);
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;

}
nav{
    width: 100%;
    background: #fff;
}

nav>ul{
list-style: none;
padding: 0;
margin: 0;
justify-content: center;
display: flex;

}

nav ul li a{
    color: rgba(36, 0, 28, 1);
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border-right: 1px solid crimson;
}
nav ul li :nth-last-child() a{
    border-right: none;
}
nav ul ul{
    padding: 0;
    margin: 0;
    list-style: none;
}